.formulario-editar-tarea {
  position: relative;
  width: 50%;
  border: 1px solid #d3d3d3;
  left: calc(50% - 25%);
  padding: 2rem;
  border-radius: 1rem;
}

.formulario-editar-tarea h5 {
  color: #000;
}
