.formulario-registro {
  position: fixed;
  left: calc(50% - 150px);
  top: 20%;
  width: 300px !important;
  border: 2px solid #d3d3d3;
  padding: 2rem;
  border-radius: 10px;
}

.formulario-registro h5 {
  color: #d3d3d3;
}
